/* ==================================================================================
                       Typography
================================================================================== */
h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}


/* ==================================================================================
                        Layout
================================================================================== */
nav {
  display: flex;
  height: 13em;
  background-color: #5b5b5b;
}

.logo {
  background: url("https://d33wubrfki0l68.cloudfront.net/81fa290218cedc39d32be7b1f1aba58a25829ebe/0a05f/images/logo--full.svg ");
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}

.nav-items {
  display: flex;
  flex: 5;
  justify-content: space-around;
  padding: 2em;
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(600px,1fr));
  border: 1px solid yellowgreen;
  width: 100%;  
  
}

.feature {
  padding: 10px;
  border: 1px solid magenta;
  text-align: center;
  height: 750px;
}

.feature .user {
  font-size: 50px;
}
