/* ==================================================================================
                       Typography
================================================================================== */
:root {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

/* ==================================================================================
                        Layout
================================================================================== */
nav {
  display: flex;
  height: 13em;
  background-color: #5b5b5b;
}

.logo {
  background: url("https://d33wubrfki0l68.cloudfront.net/81fa290218cedc39d32be7b1f1aba58a25829ebe/0a05f/images/logo--full.svg ");
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}

.nav-items {
  display: flex;
  flex: 5;
  justify-content: space-around;
  padding: 2em;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.title-float {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  padding-bottom: 0;
  margin-bottom: -10em;
}

.float-title {
  text-align: center;
  color: white;
  font-size: calc(0.625vw + 1.3em);
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em;
  background-color: #111;
  z-index: 999;
}

.float-title:last-child {
  padding-top: 0;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  width: 100%;
}

.feature {
  padding: 10px;
  height: 550px;
  display: flex;
  align-content: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.feature:first-child,
 .feature:last-child {
  background-color: #5b5b5b;
}

.feature:nth-child(2) {
  background-color: #616161;
}

.feature:nth-child(3) {
  background-color: #565656;
}

.card {
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.comment {
  background: url('./Assets/images/message.ico');
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNyAyOC43MyIgd2lkdGg9IjI4cHgiIGhlaWdodD0iMjhweCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jb21tZW50PC90aXRsZT48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik05NjAuMzMgMjUyLjMzaC00LjUybC4wNiA3LjczLTYuNjktNy43M2gtOS44NWEzIDMgMCAwIDEtMy0zdi0xNWEzIDMgMCAwIDEgMy0zaDIxYTMgMyAwIDAgMSAzIDN2MTVhMyAzIDAgMCAxLTMgM3oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05MzYuMzMgLTIzMS4zMykiLz48L3N2Zz4=);
  background-repeat: no-repeat;

  /* background-color: #000; */
  background-position: left center;
  padding-left: 2em;
  justify-self: center;
}

.author {
  display: flex;
  padding-bottom: 2em;
}

.author img {
  width: 6%;
}

.author h3,
p {
  align-self: center;
  padding-right: 0.5em;
}

.article-title {
  display: flex;
  padding-bottom: 2em;
}

.img-comment {
  display: inline-flex;
  align-items: flex-start;
  width: 40%;
  height: 2em;
  font-size: 1rem;
}

.img-comment h1 {
  display: inline;
  padding-left: 0;
}

.previous-articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 600px;
  align-content: stretch;
  justify-content: stretch;
  background-color: skyblue;
}

.previous-articles section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
}

.previous-articles section * {
  padding-bottom: 1em;
  padding-top: 0;
  margin: 0;
}

.previous-articles p {
  font-size: 1.3rem;
  line-height: 2rem;
}


